@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.noIncident {
	.container {
		max-width: 368px;
		min-width: 300px;
		height: 400px;
		margin: 70px auto 0 auto;
		background-image: url('/SiteAssets/Dev/dwi.jpg');
		background-size: cover;
		font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system,
			BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
	}

	.color {
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.2);
		height: 400px;
		width: 100%;
		cursor: pointer;
	}

	.color:hover .opas {
		opacity: 0;
	}

	.color:hover .daysNum li::after {
		opacity: 0;
	}

	.square {
		width: 300px;
		text-align: left;
	}

	.title {
		font-size: 1.2rem;
		color: #d8be88;
	}

	.title1 {
		padding: 0.2rem;
		text-align: center;
	}

	.subTitle {
		width: 139px;
		height: 45px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		color: white;
		font-size: 1rem;
		padding: 0 0 0 10px;
		margin: 3px 0;
		border-right-color: #d8be88;
		border-width: 0px 1px 0px 0px;
		border-style: solid;
	}

	.project {
		display: flex;
		align-items: center;
		justify-content: left;
		margin-top: 10px;
	}

	.back {
		background: rgba(0, 0, 0, 0.7);
	}

	.days {
		position: relative;
		width: 150px;
		height: 45px;
		margin: 3px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.daysWrapper {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: space-around;
	}

	.info {
		position: absolute;
		top: -2px;
		right: 2px;
		font-size: smaller;
	}

	.tooltiptext {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		opacity: 0;
		width: 150px;
		height: 45px;
		background-color: #fff;
		color: #000;
		font-weight: 600;
		text-align: center;
		font-size: 0.8rem;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		top: -80%;
		right: 130%;
		transition: opacity 0.5s;
	}

	.tooltiptext::after {
		content: ' ';
		position: absolute;
		top: 50%;
		left: 100%;
		margin-top: -8px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent transparent #fff;
	}

	.info:hover .tooltiptext {
		opacity: 1;
	}

	.tooltiptext > .text {
		color: #0b3753;
		font-size: 0.9rem;
	}

	.table {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.tr {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		height: 12px;
	}

	.th {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 12px;
		color: grey;
		font-size: 0.7rem;
		border-top: 1px solid grey;
	}

	.th:first-child {
		border: none;
	}

	.th:last-child {
		border-left: 1px solid grey;
	}

	.td {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 13px;
	}

	.td:last-child {
		border-left: 1px solid grey;
	}

	.factGreen {
		color: green;
	}

	.factRed {
		color: red;
	}

	.daysNum {
		margin: 0;
		padding: 0;
		line-height: 1rem;
	}

	.daysNum li {
		list-style: none;
		display: inline;
	}

	.daysNum li::after {
		content: '\00b7';
		font-size: 1rem;
		font-weight: 600;
		color: #fff;
		opacity: 0.4;
		transition: opacity 0.4s ease-in-out;
	}

	.daysNum li:last-child:after {
		content: none;
	}

	.number {
		font-size: 1.3rem;
		text-align: center;
		line-height: 1.3rem;
	}

	.numwhite {
		color: white;
		font-weight: 600;
	}

	.text {
		font-size: 1rem;
		color: white;
		line-height: 1rem;
	}

	.opas {
		opacity: 0.4;
		transition: opacity 0.4s ease-in-out;
		font-size: 1rem;
	}

	.projectTitle {
		font-size: 1.2rem;
		font-weight: 600;
	}

	.round {
		border-radius: 2px;
	}

	@media only screen and (max-width: 1024px) {
		.container {
			margin: 0 auto;
			width: 100%;
			height: 390px;
			max-width: 100%;
		}

		.color {
			height: 390px;
		}
	}
}
